<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <title>ホームページ制作なら　GoodView</title>
    <%= favicon_link_tag 'top/favicon.ico' %>
    <meta property="og:url" content="goodview.tokyo" />
    <meta property="og:title" content="ホームページ制作なら　GoodView" />
    <meta property="og:image" content="/top/kv_copy.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="2.Twitterのユーザー名">
    <meta name="twitter:title" content="ホームページ制作なら　GoodView"">
    <meta name="twitter:description" content="4.Good viewで、集客UPができるサイトを制作しよう！">
    <meta name="twitter:image" content="/top/kv_copy.png">
    <!-- jQuery.jsの読み込み -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script language="JavaScript">
      // <!-- スムーズスクロール部分の記述 -->
      $(function(){
        // #で始まるアンカーをクリックした場合に処理
        $('a[href^=#]').click(function() {
            // スクロールの速度
            var speed = 500; // ミリ秒
            // アンカーの値取得
            var href= $(this).attr("href");
            // 移動先を取得
            var target = $(href == "#" || href == "" ? 'html' : href);
            // 移動先を数値で取得
            var position = target.offset().top - 120;
            // スムーススクロール
            $('body,html').animate({scrollTop:position}, speed, 'swing');
            return false;
        });

        // 足し算
        // ボタンの要素を取得
        var button = document.getElementById("button");

        // ボタンをクリックした時の処理
        button.addEventListener("click", function(e) {

        e.preventDefault();

        // 2つの入力フォームの値を取得
        var textForm1 = document.getElementById("textForm1").value;
        var textForm2 = document.getElementById("textForm2").value;
        
        // 2つの数値を足す
        var sum = parseInt(textForm1, 10) + parseInt(textForm2, 10);
        
        // 足し算の結果を別の入力フォームに表示
        var resultForm = document.getElementById("resultForm");
        resultForm.value = sum;

        });

        var Close = $('#close');
        var topBtn = $('.to-top');
        //ボタンを非表示にする
        topBtn.hide();
        //スクロールしてページトップから100に達したらボタンを表示
        $(window).scroll(function () {
            if ($(this).scrollTop() > 2000) {
    　　　　　　　//フェードインで表示
                topBtn.fadeIn();
            } 
            else if($(this).scrollTop() < 3500)  {
    　　　　　　　//フェードアウトで非表示
                topBtn.fadeOut();
            }
        });
        $('#close').click(function() {
        // 1.5秒かけてゆっくりフェードインさせる
        $('.to-top').fadeOut(500);

        });
      });
    </script>
  </head>
  <body>
      <nav class="top_nav">
          <%= image_tag 'top/logo.svg' %>
          <ul>
            <li><%= link_to "コンセプト", "#1" %></li>
            <li><%= link_to "制作例", "#2" %></li>
            <li><%= link_to "料金プラン", "#3" %></li>
            <li><%= link_to "プロフィール", "#4" %></li>
            <li><%= link_to "QA", "#5" %></li>
            <li><%= link_to "お問い合わせ", "/forms" %></li>
          </ul>
    </nav>
    <div class="kv_wrap">
        <div class="cover">
            <h1>人を集めるサイトを作る。</h1>
            <div class="kv">
                <p class="cv_button_text">まずはお気軽にご相談ください！</p>
                <p class="cv_button"><%= link_to "サイト制作を依頼する", "forms" %></p>
                <p class="cv_button_sp"><%= link_to "サイト制作を依頼する", "forms" %></p>
            </div>
        </div>
    </div>
    <div class="page-high">
      <p  class="page-high_3000px" id="sec1">△▲3000px </p>
      <p  class="page-high_3500px" id="sec2">△▲3500px </p>
      <p  class="page-high_4000px" id="sec3">△▲4000px </p>
      <p  class="page-high_4500px" id="sec4">△▲4500px </p>
    </div>
    <div>
       <section class="topic_wrap">
          <div class="topic_left-and-right">
            <p class="topic_left"><%= image_tag 'top/woman_and_man.gif' %></p>
            <div class="topic_right">
                <h2 id="1">WEBサイトを自慢したい！</h2>
                <p class="topic_text">お客様の人生がWEBサイトを通して豊かに<br>なるようなデザインをご提供いたします。</p>
            </div>
          </div>
          <div class="topic_left-and-right_sp">
            <div class="topic_top">
                <h2>WEBサイトを自慢したい！</h2>
                <p class="topic_text">お客様の人生がWEBサイトを通して豊かに<br>なるようなデザインをご提供いたします。</p>
            </div>
            <p class="topic_bottom"><%= image_tag 'top/woman_and_man.gif' %></p>
          </div>
        </section>
        <section class="topic_wrap good-job good-job_pc ">
            <div class="topic_center">
                <h2>「いいサイト」をとことん追求する。<br>それが<span><%= image_tag 'top/logo.svg' %></span>の物作りです。</h2>
                <p class="topic_text">
               「どんな雰囲気のお店だろう？」「どんな商品だろう？」<br>
                「写真を見たけれど詳しく知りたい！」<br>
                サイトに来たお客様が、見たい情報をすぐに見つけられるサイトが「いいサイト」です。<br>
                そんな「いいサイト」を作ることで、<br>
                お店の売り上げが上がることが期待されます。</p>
           </div>
        </section>
                <section class="topic_wrap good-job good-job_sp ">
            <div class="topic_center">
                <h2>「いいサイト」をとことん追求する。<br>それが<span><%= image_tag 'top/logo.svg' %></span>の物作りです。</h2>
                <p class="topic_text">
                「どんな雰囲気のお店だろう？」<br>「どんな商品だろう？」<br>
                「写真を見たけれど詳しく知りたい！」<br>
                サイトに来たお客様が、見たい情報を<br>すぐに見つけられるサイトが<br>「いいサイト」です。<br>
                そんな「いいサイト」を作ることで、<br>
                お店の売り上げが上がることが期待されます。</p>
           </div>
        </section>
        <div class="topic_wrap button_wrap">
            <div class="button_background">
                <p class="button"><%= link_to "サイト制作を相談・依頼する >", "forms" %></p>
            </div>
        </div>
        <section class="topic_wrap">
            <div class="topic_center">
                <h2 id="2">--  制作例  --</h2>
                <ul>
                    <li class="index01"><%= link_to "", "../top/index01" %></li>
                    <li class="index03"><%= link_to "", "../top/index03" %></li>
                    <li class="soon">comming soon...</li>
                    <li class="soon">comming soon...</li>
                </ul>
            </div>
        </section>
        <section class="topic_wrap">
            <div class="topic_left-and-right answer-your-feelings">
                <div class="topic_left">
                    <h2>せっかくなら、イマドキなサイトを<br>低価格で作りたい。<br>そんな気持ちにお答えします。</h2>
                    <p  class="topic_text">一個人でWEBサイトを制作しますので、格安の価格でサイト制作の依頼が可能です。<br>
                        かつ、オーダーメイド式なので、他のサイトにはない、オリジナルのご要望もお付けすることが可能です。<br>
                        ※難しいムービーをつける場合は、オプション費用になる場合もございます。
                    </p>
                </div>
                <p class="topic_right"><%= image_tag 'top/pc_image.svg' %></p>
            </div>
        </section>
        <div class="topic_wrap button_wrap">
            <div class="button_background">
                <p class="button"><%= link_to "サイト制作を相談・依頼する >", "forms" %></p>
            </div>
        </div>
        <section class="topic_wrap">
            <div class="topic_center">
                <h2 id="3">--  料金プラン  --</h2>
                <h3>基本料金（パソコン・スマホのレスポンシブ対応）</h3>
                    <div class="table_wrap">
                        <table>
                            <tbody>
                                <tr>
                                    <!-- 横 -->
                                    <th class="left-top-corner corner">ページ<br>/長さ</th>
                                    <th class="table-side">3000px以下<br><span><a href="#sec1">◀︎長さの例（左サイド）</a></span></th>
                                    <th class="table-side">3500px以下<br><span><a href="#sec2">◀︎長さの例（左サイド）</a></span></th>
                                    <th class="table-side">4000px以下<br><span><a href="#sec3">◀︎長さの例（左サイド）</a></span></th>
                                    <th class="table-side">4500px以下<br><span><a href="#sec4">◀︎長さの例（左サイド）</a></span></th>
                                    <th class="table-side">5000px以下</th>
                                    <th class="table-side right-top-corner">5500px以下</th>
                                </tr>
                                <tr>
                                    <th class="table-vertical">1ページ</th>
                                    <td>85,000円(税抜)</td>
                                    <td>125,000円(税抜)</td>
                                    <td>160,000円(税抜)</td>
                                    <td>185,000円(税抜)</td>
                                    <td>195,000円(税抜)</td>
                                    <td>200,000円(税抜)</td>
                                </tr>
                                <tr>
                                    <th class="table-vertical">2ページ</th>
                                    <td>125,000円(税抜)</td>
                                    <td>320,000円(税抜)</td>
                                    <td>125,000円(税抜)</td>
                                    <td>130,000円(税抜)</td>
                                    <td>135,000円(税抜)</td>
                                    <td>140,000円(税抜)</td>
                                </tr>
                                <tr>
                                    <th class="table-vertical">3ページ</th>
                                    <td>220,000円(税抜)</td>
                                    <td>450,000円(税抜)</td>
                                    <td>85,000円(税抜)</td>
                                    <td>90,000円(税抜)</td>
                                    <td>95,000円(税抜)</td>
                                    <td>100,000円(税抜)</td>
                                </tr>
                                <tr>
                                    <th class="table-vertical">4ページ</th>
                                    <td>325,000円(税抜)</td>
                                    <td>530,000円(税抜)</td>
                                    <td>125,000円(税抜)</td>
                                    <td>155,000円(税抜)</td>
                                    <td class="money-none"></td>
                                    <td class="money-none"></td>
                                </tr>
                                <tr>
                                    <th class="table-vertical">5ページ</th>
                                    <td>450,000円(税抜)</td>
                                    <td>610,000円(税抜)</td>
                                    <td>85,000円(税抜)</td>
                                    <td class="money-none"></td>
                                    <td class="money-none"></td>
                                    <td class="money-none"></td>
                                </tr>
                                <tr>
                                    <th class="table-vertical">6ページ</th>
                                    <td>560,000円(税抜)</td>
                                    <td>690,000円(税抜)</td>
                                    <td>125,000円(税抜)</td>
                                    <td class="money-none"></td>
                                    <td class="money-none"></td>
                                    <td class="money-none"></td>
                                </tr>
                                <tr>
                                    <th class="table-vertical left-bottom-corner">7ページ</th>
                                    <td>600,000円(税抜)</td>
                                    <td>760,000円(税抜)</td>
                                    <td　class="money-none"></td>
                                    <td class="money-none"></td>
                                    <td class="money-none"></td>
                                    <td class="money-none"></td>
                                    <td class="money-none right-bottom-corner"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>オプション</h3>
                    <div class="table_wrap">
                        <table>
                            <tbody>
                                <tr>
                                    <th class="table-vertical left-top-corner">フォーム作成</th>
                                    <td class="option-box right-top-corner" style="width: 760px; background: #eee;">85,000円(税抜)/1ページ〜</td>
                                </tr>
                                <tr>
                                    <th class="table-vertical left-bottom-corner">WEB上の動きの作成</th>
                                    <td class="option-box right-bottom-corner" style="width: 760px; background: #eee;">15,000円(税抜)/1箇所〜</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </section>
        <div class="topic_wrap button_wrap">
            <div class="button_background">
                <p class="button"><%= link_to "サイト制作を相談・依頼する >", "forms" %></p>
            </div>
        </div>
        <section class="topic_wrap">
            <div class="topic_center">
              <h2  id="4">Webクリエイター</h2>
    　　　　　　　<div class="topic_left-and-right" >
                    <p class="topic_left_2"><%= image_tag 'top/profile.png' %></p>
                    <p class="topic_right topic_text">
                            <span class="name">Kayo Nakamura</span><br>
                            <span class="2">大手WEB広告代理店、WEB制作会社、</span><br>
                            <span class="3">自社商品WEB販売企画出身。WEBデザイナー、</span><br>
                            <span class="4">WEBディレクター、エンジニアの経歴を持つ。</span><br>
                            <span class="5">商品が売れるためのWEB企画から、WEBサイトの</span><br>
                            <span class="6">品質管理までサポートのご依頼も承ります。</span><br>
                            <span class="7">Googleアナリティクス・オプティマイズを使用した</span><br>
                            WEBCVRなどを算出するWEB数値解析も可能です。
                    </p>
                </div>
                <div class="topic_left-and-right_sp" >
                    <p class="topic_left_2"><%= image_tag 'top/profile.png' %></p>
                    <p class="topic_right topic_text">
                            <span class="name">Kayo Nakamura</span><br>
                            <span class="2">大手WEB広告代理店、WEB制作会社、</span><br>
                            <span class="3">自社商品WEB販売企画出身。WEBデザイナー、</span><br>
                            <span class="4">WEBディレクター、エンジニアの経歴を持つ。</span><br>
                            <span class="5">商品が売れるためのWEB企画から、WEBサイトの</span><br>
                            <span class="6">品質管理までサポートのご依頼も承ります。</span><br>
                            <span class="7">Googleアナリティクス・オプティマイズを使用した</span><br>
                            WEBCVRなどを算出するWEB数値解析も可能です。
                    </p>
                </div>
            </div>
        </section>
        <section class="topic_wrap push">
            <div class="topic_center">
                <h2 class="none">こんなお客様に、<br>個人クリエイター依頼<span><%= image_tag 'top/logo.svg' %></span>がおすすめ！</h2>
                <h2 class="show">こんなお客様に、<br>個人クリエイター依頼<br><span><%= image_tag 'top/logo.svg' %></span>がおすすめ！</h2>
                <ul class="push_pc">
                    <li class="">
                        <p><%= image_tag 'top/osusume01.svg' %></p>
                        <p class="topic_text push_text">
                            お引き渡し後の<br>
                            NEWSページ更新・<br>
                            新しいページの作成なども、<br>
                            低価格で改修してほしい！
                        </p>
                    </li>
                    <li>
                        <p><%= image_tag 'top/osusume02.svg' %></p>
                        <p class="topic_text push_text">
                            長くWEBサイトの<br>
                            運営をしたいので、<br>
                            痒い所に手が届く細かい修正や<br>
                            WEB広告作成も今後頼みたい！
                        </p>
                    </li>
                    <li>
                        <p><%= image_tag 'top/osusume03.svg' %></p>
                        <p class="topic_text push_text">
                            時間を使って<br>
                            じっくりとWEBサイトを<br>
                            作りたい！
                        </p>
                    </li>
                    <li>
                        <p><%= image_tag 'top/osusume04.svg' %></p>
                        <p class="topic_text push_text">
                            ミーティングの時間を<br>
                            回数制限なしでとりたい！
                        </p>
                    </li>
                </ul>
                <ul class="push_sp">
                    <li class="">
                        <p><%= image_tag 'top/osusume01.svg' %></p>
                        <p class="topic_text push_text">
                            お引き渡し後の
                            NEWSページ更新・
                            新しいページの作成なども、
                            低価格で改修してほしい！
                        </p>
                    </li>
                    <li>
                        <p><%= image_tag 'top/osusume02.svg' %></p>
                        <p class="topic_text push_text">
                            長くWEBサイトの
                            運営をしたいので、
                            痒い所に手が届く細かい修正や
                            WEB広告作成も今後頼みたい！
                        </p>
                    </li>
                    <li>
                        <p><%= image_tag 'top/osusume03.svg' %></p>
                        <p class="topic_text push_text">
                            時間を使って
                            じっくりとWEBサイトを
                            作りたい！
                        </p>
                    </li>
                    <li>
                        <p><%= image_tag 'top/osusume04.svg' %></p>
                        <p class="topic_text push_text">
                            ミーティングの時間を
                            回数制限なしでとりたい！
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <div class="topic_wrap button_wrap">
            <div class="button_background">
                <p  class="button"><%= link_to "サイト制作を相談・依頼する >", "forms" %></p>
            </div>
        </div>
        <section class="topic_wrap">
            <div class="topic_center">
                <h2 id="5">Q&A</h2>
                <div class="cp_qa">
                    <div class="cp_actab">
                        <input id="cp_tabfour032" type="checkbox" name="tabs">
                        <label for="cp_tabfour032">Q 納品までどのくらいかかる？</label>
                        <div class="cp_actab-content">
                        <p>1ページの場合は、2週間〜3週間です。コーポレートサイトなど複数ページ構成のサイトの場合は納品が約２ヶ月になります。</p>
                        </div>
                    </div>
                    <div class="cp_actab">
                        <input id="cp_tabfour033" type="checkbox" name="tabs">
                        <label for="cp_tabfour033">Q 一度顔を合わせてから依頼をしたいのですが可能ですか？</label>
                        <div class="cp_actab-content">
                        <p>可能です。コロナウイルスの影響で、対面式の顔合わせではなく動画サービスZOOMを使用したご挨拶になります。</p>
                        </div>
                    </div>
                    <div class="cp_actab">
                        <input id="cp_tabfour035" type="checkbox" name="tabs">
                        <label for="cp_tabfour035">Q 制作者にダイレクトに依頼する際に、心がけた方がいいことは？</label>
                        <div class="cp_actab-content">
                        <p>制作者は普段正社員として働いているので、お電話が繋がりにくい時があります。その中でも、なるべく早く返信・お電話の対応できるようにいたします。</p>
                        </div>
                    </div>
                    <div class="cp_actab">
                        <input id="cp_tabfour036" type="checkbox" name="tabs">
                        <label for="cp_tabfour036">Q WordPressは使用できますか？</label>
                        <div class="cp_actab-content">
                        <p>GoodViewでは、WordPressの案件は取り扱っておりませんのでご了承ください。
                        <br>使用できる言語は、HTML,CSS,JavaScript,Ruby on Rails,Go,Vue.jsになります。
                        <br>その多言語で制作をご検討の方も、可能かどうか確認いたしますので「サイト制作を相談・依頼する 」のお問い合わせボタンよりご相談ください。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
      <p>© 2020 Good view inc.</p>
    </footer>
  </body>
</html>